html {
  background-color: #161616;
  font-family: 'Audiowide', cursive;
}

#topHeading {
  color: black;
  padding: 5px 10px 10px 10px;
  font-size: 29px;
  background-color: #f7ca6f;
}

#firstPar {
  color: white;
  width: 550px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 5px 15px 15px 15px;
  border: 5px solid #f7ca6f;
  font-size: 13px;
}

